

.calc {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.ULSxyf {
  margin-bottom: 40px
}

.hlcw0c {
  margin-bottom: 40px
}

.mod {
  clear: both
}

.Wnoohf .xpdclose .mod.xsZWvb,
.Wnoohf .xpdopen .mod.EfDVh {
  padding-bottom: 0
}

#rhs .Wnoohf .xpdclose .mod.xsZWvb,
#rhs .Wnoohf .xpdopen .mod.EfDVh {
  padding-bottom: 0
}

#rhs .Wnoohf .xpdclose .mod.xsZWvb.ecRggb,
#rhs .Wnoohf .xpdopen .mod.EfDVh.ecRggb,
#rhs .kp-blk .ecRggb {
  padding-bottom: 15px
}

.LNn04b {
  background: url(//ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) 100% no-repeat #f8f9fa;
  border: 1px solid #dadce0;
  font-size: 13px;
  line-height: 20px;
  padding: 5px 16px 5px 5px;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none
}

.LNn04b::-ms-expand {
  display: none
}

.LNn04b:hover {
  background-color: #f8f9fa;
  border-color: #dadce0;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .10)
}

.LNn04b:focus {
  border-color: #1a73e8
}

.LNn04b:disabled {
  background-color: #fff;
  border-color: #f8f9fa;
  color: #dadce0
}

.OR9QXc {
  background-position-x: 95%;
  border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  color: #000;
  width: 211px;
  margin-top: -1px;
}

.vXQmIe {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  color: #000;
  font-size: 180%;
  height: 40px;
  padding: 1px 6px;
  text-align: center;
  width: 197px;
}

.rpnBye {
  display: inline-block;
  width: 211px;
  padding-top: 10px;
}

.rYVYn {
  color: #000;
  background-position-x: 98%;
  width: 449px;
  margin-bottom: 10px;
}

.jCkZnd {
  display: inline-block;
  line-height: 44px;
  width: 27px;
  text-align: center;
  font-size: 26px;
  color: #70757a;
  padding-top: 10px;
  vertical-align: top;
  margin-left: -4px;
  margin-right: -4px
}

.CR33Se {
  display: inline-block;
  width: 100%
}

.sc5Lhd {}

.dtp2jf {
  margin-top: 15px
}

.NIzGle {
  height: 15px;
  font-size: 12px;
  padding: 1.0px 3px 1.5px 3px;
  color: #fff;
  background-color: #f9ab00;
  float: left;
  margin: 2px 8px 0px 0px;
  border-radius: 2px
}

.bjhkR {
  margin-bottom: 2px;
  padding: 2.5px 3px 1.5px 3px
}

#rhs .KFFQ0c,
.xpd-wa .KFFQ0c {
  display: none
}

.KFFQ0c {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
  margin-top: 16px;
  width: 652px
}

.akqY6 {
  background: #dadce0;
  height: 1px;
  width: 100%
}

.KFFQ0c .YfftMc,
.KFFQ0c .YfftMc span,
.KFFQ0c .YfftMc div,
.KFFQ0c .YfftMc a {
  align-items: center;
  color: #70757a;
  display: flex;
  font-size: 12px;
  font-style: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap
}

.KFFQ0c .YfftMc {
  flex-shrink: 0;
  margin-left: 14px
}

.gnePt {
  float: left
}

.tOwx5e {
  float: right
}

a:hover h3.LC20lb {
  text-decoration: underline
}

.LC20lb {
  max-width: 100%;
  line-height: 1.273;
  margin-bottom: 3px;
  font-family: Google Sans, arial, sans-serif;
  letter-spacing: 0.3px;
  position: relative;
  top: 1px;
}

.DKV0Md {
  padding-top: 4px;
  padding-top: 4px;
}

.VjDLd .TieM1d .tjvcx,
.rhs-osrp .tjvcx,
.kno-kp .tjvcx,
.VjDLd .kp-wholepage-osrp .tjvcx,
#rhs .ss6qqb .tjvcx {
  display: inline-block;
  height: 19px;
  overflow-y: hidden
}

.qzEoUe {
  color: #202124;
  white-space: nowrap
}

.dyjrff {
  color: #5f6368
}

.B6fmyf {
  position: absolute;
  top: 0;
  height: 0;
  visibility: hidden;
  white-space: nowrap
}

.eFM0qc {
  display: inline-block;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 2px;
  visibility: visible
}

.jYOxx {
  margin-top: 0px
}

.HiHjCd {
  color: #70757a
}

.Fam1ne {
  background-repeat: repeat-x;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.Fam1ne span {
  background-repeat: repeat-x;
  display: block
}

.KsUr1 .Fam1ne,
.Fam1ne.sCCsuc {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA6klEQVR4AZXQMWsCMRiH8SAnQacODgpyg8rh1EEQHXS5xaUdXA5KRUHo+/2/wdN3aBNK34TEZ0rCD86/S/140ZydI9WrVo3etUrk+dJ8Hdog2qYO9YjW16ARD0R7MCpHC+SnRTk6BHQoR0NAg43WvP1LYsbrWh0tN6SwG+3v53n6ItLj//6nFfcsuLOyhphwSZILk/R6nUm6/OQzE83yaGeiXR5dTXTNoSmSaJpGWyQ0aBLaplGc/EijHePkKdTwRLQP5uFurifRnjQ2ahHtzBhHbKw3orU2OvHJEme01JeTjfZ4XCLPPp6+AYsy7RMdMSvnAAAAAElFTkSuQmCC)
}

.KsUr1 .Fam1ne span,
.Fam1ne.sCCsuc span {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAAA9klEQVR4AZXUoY7iUABG4SYYEgwYwhOsx4MlqUaAQ/AGMxqHIUHDC4DnATaMx7MORVAEh5vAtzUN7M69TXuOurc5SfuLJjH8ykzCJmJ++qgefWVWjJq+M5vVojEYV4s2YFMlqrmBm1r5qC+nXz5ayFmUj/7IOYajkd//uffO/sfzUdZJXZTlIs1fr2WrDFutf79p6KqIq2FoiLadGDvt+HoTISbFk3eF6BZHMyFmxdFBiENR1PEU4qkTj6ZeHDNfTONRPvnDUj1z6ZFPHovq7uCkJ7/rOYG7ejhKwVrD+23DGqThaOVsIAk4cLYKR3NN8b/T/HX6C7jRb/QEnjPPAAAAAElFTkSuQmCC)
}

.tPhRLe {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmCAQAAAAYCMGrAAAA+klEQVR4AcWV4cbtMBBFF0MIVUopoVSrhDDv/3gf/RFRpzdNOty1HiBO99mzeYWgCMZMKCPGrCgrxiSUhCkDeukxJKCXAUMiehkxw6FZhxEzmp0x4kCzByYISqlYdal0supS6WrVpdLEK0YSamJiJOPY0c/uOG4s6CcXfuKJaJcRzyNCQJsNiF1sRTR1hP11NNJ8RCrONOPRf+r7J+TZgQ5CNfMOYvW/2YxDqzqA/57+gVY9eiakrnyZEGXDsaE3p/4JScwPX3rtnZATDxnPWT7X16XAHaH8HWNrlxJD9TyGti5tCM84zpZe+RxNjeX9tZqLaGoMxN/P/wHP5Vw+8ZxnEQAAAABJRU5ErkJggg==)
}

.tPhRLe span {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAmBAMAAABALxQTAAAAFVBMVEVMaXH4twP4twP4twP4twP4twP4twP7w8S/AAAAB3RSTlMAFv5uPpvQloUsTQAAAMFJREFUeAGE0TEOgzAMQFEXoDNiYC6/wFxxAsTADDkB5f6HqNRENXUi8TYiRfnY8lNXkjBOkuBWSeAhsYJOYiW9xO4MEqshkTbCSyIH7GLdgFasHHgmwkikZQD6OROZRG4Hxju8o/TNhbNhCqkOxaZDVKdxNnq/EjUS/A2o0PuXpyVeb9bjDWY9QSWXDQfBbtbjtWY9bM4sqfx+5yYt8wNcAFEzrGGkk5668KsFrKewPtQ3aFqh8WOnYZ+lIBQkgykAWk8rlAqcHfQAAAAASUVORK5CYII=);
}

.tPhRLe,
.tPhRLe span {
  background-size: 13px 12px;
  height: 13px;
  top: 1px;
  width: 65px
}